In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import sklearn.metrics as mt
from sklearn.ensemble import GradientBoostingClassifier

In [5]:
df = pd.read_excel("C:/Users/Zehra/Desktop/powerbi/İnsan Kaynakları/AyrılanDatası.xlsx")
df.head(5)

,Job,Joining Quarter,Location,Gender,Education,Age,<6 months,Personel_ID
0,MM,Q3,ISTANBUL,Male,High School,20-30,NO,1
1,SG,Q4,ISTANBUL,Male,Elementary,20-30,NO,2
2,SG,Q2,ISTANBUL,Male,Elementary,20-30,NO,3
3,SG,Q2,ISTANBUL,Female,Elementary,20-30,NO,4
4,SG,Q3,ISTANBUL,Male,Elementary,<20,NO,5

In [6]:
df=df.rename(columns = {'Joining Quarter':'Joining_Quarter'})
df=df.rename(columns = {'<6 months':'6_months'})

#Gender
df["Gender"] = df["Gender"].replace("Male", 1)
df["Gender"] = df["Gender"].replace("Female", 2)

#6_months
df["6_months"] = df["6_months"].replace("YES", 1)
df["6_months"] = df["6_months"].replace("NO", 2)

#Joining_Quarter
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q1", 1)
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q2", 2)
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q3", 1)
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q4", 2)

#Job
df["Job"] = df["Job"].replace("MM", 1)
df["Job"] = df["Job"].replace("SG", 2)
df["Job"] = df["Job"].replace("GD", 3)
df["Job"] = df["Job"].replace("PART-SG", 4)
df["Job"] = df["Job"].replace("MMY", 5)
df["Job"] = df["Job"].replace("SUP", 6)

#Location
df["Location"] = df["Location"].replace("ISTANBUL", 1)
df["Location"] = df["Location"].replace("Others", 2)


#Education
df["Education"] = df["Education"].replace("2-Year University", 1)
df["Education"] = df["Education"].replace("4-Year University", 2)
df["Education"] = df["Education"].replace("Elementary", 3)
df["Education"] = df["Education"].replace("High School", 4)

#Age
df["Age"] = df["Age"].replace("<20", 1)
df["Age"] = df["Age"].replace("20-30", 2)
df["Age"] = df["Age"].replace("30-40", 3)
df["Age"] = df["Age"].replace(">40", 4)

In [ ]:
#Gradient Boosting Classifier

In [7]:
X = df.drop("6_months", axis=1)
y = df["6_months"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [9]:
gb_model = GradientBoostingClassifier()
gb_model.fit(X_train, y_train)

GradientBoostingClassifier()

In [10]:
y_pred = gb_model.predict(X_test)

In [11]:
print(mt.accuracy_score(y_test, y_pred))

0.6381578947368421