In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
import sklearn.metrics as mt

In [2]:
df = pd.read_excel("C:/Users/Zehra/Desktop/powerbi/İnsan Kaynakları/AyrılanDatası.xlsx")
df.head(5)

,Job,Joining Quarter,Location,Gender,Education,Age,<6 months,Personel_ID
0,MM,Q3,ISTANBUL,Male,High School,20-30,NO,1
1,SG,Q4,ISTANBUL,Male,Elementary,20-30,NO,2
2,SG,Q2,ISTANBUL,Male,Elementary,20-30,NO,3
3,SG,Q2,ISTANBUL,Female,Elementary,20-30,NO,4
4,SG,Q3,ISTANBUL,Male,Elementary,<20,NO,5

In [3]:
df=df.rename(columns = {'Joining Quarter':'Joining_Quarter'})
df=df.rename(columns = {'<6 months':'6_months'})

#Gender
df["Gender"] = df["Gender"].replace("Male", 1)
df["Gender"] = df["Gender"].replace("Female", 2)

#6_months
df["6_months"] = df["6_months"].replace("YES", 1)
df["6_months"] = df["6_months"].replace("NO", 2)

#Joining_Quarter
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q1", 1)
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q2", 2)
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q3", 1)
df["Joining_Quarter"] = df["Joining_Quarter"].replace("Q4", 2)

#Job
df["Job"] = df["Job"].replace("MM", 1)
df["Job"] = df["Job"].replace("SG", 2)
df["Job"] = df["Job"].replace("GD", 3)
df["Job"] = df["Job"].replace("PART-SG", 4)
df["Job"] = df["Job"].replace("MMY", 5)
df["Job"] = df["Job"].replace("SUP", 6)

#Location
df["Location"] = df["Location"].replace("ISTANBUL", 1)
df["Location"] = df["Location"].replace("Others", 2)


#Education
df["Education"] = df["Education"].replace("2-Year University", 1)
df["Education"] = df["Education"].replace("4-Year University", 2)
df["Education"] = df["Education"].replace("Elementary", 3)
df["Education"] = df["Education"].replace("High School", 4)

#Age
df["Age"] = df["Age"].replace("<20", 1)
df["Age"] = df["Age"].replace("20-30", 2)
df["Age"] = df["Age"].replace("30-40", 3)
df["Age"] = df["Age"].replace(">40", 4)

In [ ]:
#XGBoost

In [4]:
X = df.drop("6_months", axis=1)
y = df["6_months"]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [6]:
xgboost_model = XGBClassifier()
xgboost_model.fit(X_train, y_train)

C:\Users\Zehra\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[19:59:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [7]:
y_pred = xgboost_model.predict(X_test)

In [8]:
y_pred

array([2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2,
       1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2,
       2, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 1, 2, 1,
       2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2,
       2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2,
       2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1,
       2, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2,
       2, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2,
       2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 2, 2,
       2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 2,
       1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 1,
       1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2,
       1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2,
       2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2,
       1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2,
       2, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1,
       2, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2,
       2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1, 2,
       1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 2], dtype=int64)

In [12]:
print(mt.accuracy_score(y_test, y_pred))

0.6167763157894737